[submodule "pcb/Keebio-Parts.pretty"]
	path = pcb/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "pcb/keyswitches.pretty"]
	path = pcb/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
[submodule "pcb/keebio-components"]
	path = pcb/keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "pcb/MX_Alps_Hybrid"]
	path = pcb/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "v1/pcb/MX_Alps_Hybrid"]
	path = v1/pcb/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "v1/pcb/random-keyboard-parts.pretty"]
	path = v1/pcb/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty.git
[submodule "v1/pcb/keebio-components"]
	path = v1/pcb/keebio-components
	url = https://github.com/keebio/keebio-components.git
[submodule "v1/pcb/Keebio-Parts.pretty"]
	path = v1/pcb/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "v1/pcb/keyswitches.pretty"]
	path = v1/pcb/keyswitches.pretty
	url = https://gitlab.com/teamoskar/keyswitches.pretty.git
[submodule "v1/pcb/kbd"]
	path = v1/pcb/kbd
	url = https://github.com/foostan/kbd.git
